/* Page setup */
* {
    font-family: 'Roboto Mono';
}

body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}


/* Page container */
.container {
    display: flex;
    flex-direction: row;
}


/* Branding */
.company {
    color: rgb(149, 44, 255);
    position: absolute;
    margin-left: 1.4rem;
    font-size: 2rem;
    cursor: pointer;
}


/* Fade left animation for input sections */
@keyframes slideLeftFadeIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.middle,
.bot {
    animation: slideLeftFadeIn 1s;
}

/* Animated visual */
.picture {
    background-color: rgb(26, 26, 26);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 40vw;
}

.animated {
    display: block;
    position: relative;
    top: 10rem;
}


/* Right side of page container */
.right {
    width: 60vw;
    height: 100vh;
    background-color: rgb(49, 40, 26)
}


/* Sets base font color */
.top,
.middle,
.existing-account {
    color: rgb(172, 172, 172);
}


/* "Join" text */
.top {
    font-size: 2.4rem;
    margin: 7rem 3rem 0 3rem;
}


/* Inputs container */
.middle {
    font-size: 1.2rem;
    background-color: rgb(26, 26, 26);
    margin: 2rem 0 0 0;
    padding: 3.6rem 0 2rem 3rem;
    display: flex;
    flex-direction: column;
}


/* Form formatting */
form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px 80px;
}


/* Password confirmation field styling */
#user-password-confirm {
    background-color: rgb(40, 40, 40);
    pointer-events: none;
}


/* Create button and existing login container */
.bot {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 0 3.6rem 3rem;
    background-color: rgb(26, 26, 26);
}


/* Create button */
.create-account {
    padding: 1.2rem 1rem;
    width: max-content;
    background-color: rgb(74, 0, 149);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .1s ease-out;
    user-select: none;
    margin-bottom: 1.6rem;
    border-style: none;
    /* Make it unclickable until all fields are filled */
    pointer-events: none;
}

.create-account.enabled {
    background-color: rgb(149, 44, 255);
    pointer-events: auto;  
}

.create-account:hover {
    letter-spacing: 3.8px;
    width: max-content;
}

.create-account:active {
    transform: scale(.96);
    background-color: rgb(116, 36, 197);
}


/* Existing account login */
.existing-login {
    color: rgb(149, 44, 255);
    cursor: pointer;
    user-select: none;
}


/* Individual input containers */
.input {
    display: flex;
    flex-flow: column wrap;
    width: 35%;
}


/* Input fields formatting */
label {
    font-size: .75rem;
    padding-bottom: .2rem;
}

input {
    height: 1.6rem;
    background-color: rgb(70, 70, 70);
    color: rgb(172, 172, 172);
    transition: all .16s ease-out;
    border-radius: 2px;
    margin-bottom: 4px;
    border: 1px solid rgb(0,0,0,.4);
    box-sizing: border-box;
}

input:focus {
    color: rgb(165, 165, 165);
    border: 1.2px solid violet;
    outline: none;
    box-shadow: 0 0 5px rgb(0,0,0,.3);
}  


/* Errors that appear under the inputs */
.error {
    font-size: .75rem;
    color: rgb(255, 81, 81);
    user-select: none;
}


/* For devices smaller than 768px, e.g. mobile devices */
@media (max-width: 768px) {
    /* Stack container children vertically */
    .container {
        flex-direction: column;
    }

    /* Full width for picture and right sections */
    .picture,
    .right {
        width: 100%;
    }

    /* Adjust top margin for the join message */
    .top {
        margin-top: 2rem;
    }

    /* Adjust form layout */
    form {
        flex-direction: column;
        gap: 20px;
    }

    /* Full width for input fields */
    .input {
        width: 72%;
    }

    /* Expands to full input field div, increase height for mobile users */
    input {
        height: 32px;
        width: 100%;
    }

    /* Adjust create account button */
    .create-account {
        text-align: center;
        transition: transform 0.1s ease-out;
    }

    /* New animation of button popping out when tapped */
    .create-account:active {
        transform: scale(1.1);
        background-color: rgb(116, 36, 197);
        letter-spacing: normal;
    }

    /* Disables letter spacing effect */
    .create-account:hover {
        letter-spacing: normal;
    }
}